*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #46464d;
}
.wrapper{
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  background: #27272C;
  border: 1px solid #99999c85;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.wrapper header{
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2{
  font-size: 1.6rem;
}
header .column{
  display: flex;
  align-items: center;
}
header .column span{
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
.volume-slider input{
  accent-color: #fff;
  outline: none;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.keys-checkbox input{
  width: 60px;
  height: 30px;
  outline: none;
  appearance:none;
  cursor: pointer;
  border-radius: 30px;
  background: #4b4b4b;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.keys-checkbox input::before{
  content: "";
  height: 20px;
  width: 20px;
  top: 50%;
  left: 5px;
  position:absolute;
  background:#8c8c8c;
  border-radius: inherit;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before{
  left: 35px;
  background: #fff;
}
.piano-key{
  display: flex;
  margin-top: 48px;
}
.piano-key .key{
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;
}
.piano-key .black{
  height: 140px;
  width: 44px;
  margin: 0 -22px 0 -22px;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.piano-key .black.active{
  background: linear-gradient(to bottom,#000, #434343);
  box-shadow:  inset -5px 5px 10px rgba(255,255,255,0.1);
}
.piano-key .white{
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 90%, #eee 4%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.piano-key .white.active{
  background: linear-gradient(to bottom,#fff 0%, #eee 100%);
  box-shadow:  inset -5px 5px 20px rgba(0,0,0,0.2);
}
.piano-key span{
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 1.13rem;
  text-align: center;
}
.piano-key .key.hide span{
  display: none;
}
@media(min-width: 300px) and (max-width: 700px){
  body{
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper{
    width: 650px;
    height: 350px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #2B2B31;
  }
  .piano-key .black{
    height: 100px;
    width: 40px;
  }
  .piano-key .white{
    height: 200px;
    width: 65px;
  }
}